exportPattern("^[[:alpha:]]+")
import(IDSL.MXP)
import(IDSL.IPA)
import(IDSL.FSA)
import(readxl)
import(parallel)
import(doParallel)
import(foreach)
import(stats)
importFrom("grDevices", "dev.off", "png", "rainbow")
importFrom("graphics", "legend", "lines", "mtext", "par")
importFrom("utils", "setTxtProgressBar", "txtProgressBar", "write.csv", "read.csv", "write.table", "read.delim")
